\begin{ExampleBlock}[][listing side text]{}
%% As environment
\begin{RpgFiligree}
    A basic filigree-wrapped tcbox.
\end{RpgFiligree}


%% As option
\begin{RpgSidebar}[rpgfiligree, filigree-size=8pt]{Fancy Sidebar}
    A very fancy sidebar
\end{RpgSidebar}



\end{ExampleBlock}
